{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rosario&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css') }}">
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1 class="display-4">Get in touch</h1><br><br>
        <p><span id="p1" style="padding-left: 2em;">You</span> can contact us for any queries by email at <span id="email" style="font-style: italic;">kickassh13@gmail.com</span></p>
        <p><span id="email" style="font-style: italic;">dsrahuldvti1199@gmail.com</span></p>
    </div>
</div>
{% endblock %}