@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
  background: url(assets/base.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
  background-color: #635c5c;
  height: 1px;
  border: none;
  opacity: 0.35;
}

.navbar {
  font-family: "Bree Serif", serif;
  margin: 0 100px;
}

.title {
  font-size: 35px;
}

.options {
  font-size: 18px;
}
