.jumbotron label {
    font-size: 17px;
    font-weight: bold;
}

.jumbotron button {
    width: 180px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    border-radius: 8px;
}