.msg {
  margin-top: 30px;
}

.enMessage {
  margin-bottom: 20px;
}

.button {
  width: 180px;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.button_div {
  display: flex;
  justify-content: center;
}
